<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maike.myblog.mapper.ArticleCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maike.myblog.entity.ArticleComment">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="to_user_id" property="toUserId" />
        <result column="comment_content" property="commentContent" />
        <result column="thumb_count" property="thumbCount" />
        <result column="article_id" property="articleId" />
        <result column="article_type" property="articleType" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
