<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maike.myblog.mapper.ArticlesNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maike.myblog.entity.ArticlesNew">
        <id column="id" property="id" />
        <result column="author_name" property="authorName" />
        <result column="original_author" property="originalAuthor" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="content" property="content" />
        <result column="content_url" property="contentUrl" />
        <result column="browse_count" property="browseCount" />
        <result column="category_id" property="categoryId" />
        <result column="article_url" property="articleUrl" />
        <result column="likes" property="likes" />
        <result column="create_time" property="createTime" />
        <result column="previous_article_id" property="previousArticleId" />
        <result column="next_article_id" property="nextArticleId" />
        <result column="article_img" property="articleImg" />
    </resultMap>

</mapper>
