<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maike.myblog.mapper.IndexGalleryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maike.myblog.entity.IndexGallery">
        <id column="id" property="id" />
        <result column="slider_img" property="sliderImg" />
        <result column="img_description" property="imgDescription" />
        <result column="img_link" property="imgLink" />
        <result column="is_advertise" property="isAdvertise" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
