/* .container-article .article-list .item .art-img {
    float: left;
    width: 100%;
    overflow: hidden;
    padding:9px;
    height: 200px;
}
@media only screen and (max-width: 870px) {
 	
}
.container-article .article-list .item .art-img img {
    width: 100%;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 90px;
    height:182px;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
} */
@media only screen and (max-width: 767px){
	/*******************下面是新闻杂谈的最新六个的响应式样式************************/
	.latest-new-article{
	    margin-bottom: 0;
	    background: #ffffff;
	    /* border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px; */
	    /* border:#c5c5c5 1px solid; */
	}
	.latest-new-article section{
		border: 1px solid #dadada;
		height:182px;
		margin-bottom:15px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	}
	.latest-new-article .index-newtalk-list{
	    width: auto;
	    height:180px;
	    display: flex;
	    overflow: hidden;
	    margin:0;
	}
	.latest-new-article .index-newtalk-list:hover a{
		color:rgb(138, 179, 202);
		cursor:default;
	}
	.latest-new-article .index-newtalk-list > a{
	    flex:0 0 35%;
	    height:180px;
	}
	.latest-new-article .index-newtalk-list a > i{
	    width:auto;
	    height:162px;
	    display:flex;
	    overflow:hidden;
		position:relative;
		text-align:center;
		cursor:default;
		margin:9px;
	}
	.latest-new-article .index-newtalk-list > a:hover img {
		-ms-transform:scale(1.2);
		-webkit-transform:scale(1.2);
		-o-transform:scale(1.2);
		-moz-transform:scale(1.2);
		transform:scale(1.2);
	}
	.latest-new-article .index-newtalk-list img{
	    width:100%;
	    height:162px;
	    overflow: hidden;
	    background-size: cover;
	    background-position: center center;
	    object-fit: cover;
	    position:relative;
		-webkit-transition:all .4s linear;
		transition:all .4s linear;
	}
	.latest-new-article .index-newtalk-list div{
		display:flex;
		flex-direction: column;
		flex:0 0 65%;
		padding:9px;
	}
	.latest-new-article .index-newtalk-list div > h3{
		padding:0;
		width:auto;
		flex: 0 0 50px;
		height:50px;
		line-height: 50px;
		white-space:normal;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 16px;
		margin:0;
	}
	.latest-new-article .index-newtalk-list div > h3 a{
		text-decoration: none;
	}
	.latest-new-article .index-newtalk-list div p.publish-time{
		padding:0;
		width:auto;
		flex: 0 0 50px;
		height:50px;
		line-height:50px;
		white-space:normal;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1em;
		margin:0;
	}
	.latest-new-article .index-newtalk-list div p{
		padding:0;
		width:auto;
		flex: 0 0 50px;
		height:50px;
		line-height:25px;
		white-space:normal;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1em;
		margin:0;
	}
}
@media screen and (max-width: 620px){
	.container-article .article-list .item .art-item{
		display: flex;
		flex-direction: row;
		margin: 0;
	}
	.container-article .article-list .item .left-art-img{
		float:left;
		/* width:30%;
		flex: 0 0 30%; *//*不放大 不缩小 固定宽度94px*/
		width:158px;
		flex: 0 0 158px;
		margin: 0;
	}
	.container-article .article-list .item .right-art-abstract{
		/* float:left; */
		/* flex: 0 0 70%; *//*可放大 可缩小*/
		flex:1 1 auto;
		margin: 0 auto;
	}
	.container-article .article-list .item .art-abstract-flex {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 9px;
	}
	.container-article .article-list .item .art-img {
		float: left;
		width: auto;
		height:auto;
		overflow: hidden;
		margin:9px;
	}
	.container-article .article-list .item .art-img img {
		width: 140px;
		margin: 0 auto;
		/* margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px; */
		height:100px;
		/* max-height:100%; */
		background-size: cover;
		background-position: center center;
		object-fit: cover;
	}
	.container-article .article-list .item .title {
		width:100%;
	    font-size: 1.1em;
	    flex:0 0 60px;
	    height:60px;
	    line-height:30px;
	    font-weight:bold;
	    text-indent:2px;
	    color: #7a7a7a;
	    overflow:hidden;
	    white-space: normal;
		text-overflow:ellipsis;
	}
	
	/* 在平时的Web开发过程中、默认的情况下、行末的长单词会撑开容器、不是我们想要的、我们想要的应该是不能撑开容器、
	而且完整的单词不能被强制拆开、如果行末是长单词的话、整个单词都被换行到下一行、就像word一样、能够自动换行、
	既不撑大容器、也不强制拆开行末单词、并且不会隐藏行末单词的多余字母、本文将给你条案、先看一下如下CSS代码
	1、word-break:break-all;只对英文起作用、以字母作为换行依据
	2、word-wrap:break-word; 只对英文起作用、以单词作为换行依据
	3、white-space:pre-wrap; 只对中文起作用、强制换行
	4、white-space:nowrap; 强制不换行、都起作用
	5、white-space:nowrap; overflow:hidden; text-overflow:ellipsis;不换行、超出部分隐藏且以省略号形式出现 */
	.container-article .article-list .item .title a{
		width:auto;
		overflow:hidden;
	    white-space: normal;
		text-overflow:ellipsis;
		/* word-break:break-all; */
	}
	
	.container-article .article-list .item .base-info {
	   	width: 100%;
	   	flex:0 0 20px;
	    height: 20px;
	    line-height: 20px;
	    align-items:center;
	    overflow: hidden;
	    white-space: nowrap;
		text-overflow:ellipsis;
	}
	
	.container-article .article-list .item .base-info ul {
	    display: inline-flex;
	    flex-direction: row;
	    width: auto;
	    height: 20px;
	    line-height: 20px;
	    margin:0;
	    padding:0;
	}
	
	.container-article .article-list .item .base-info ul li {
	    list-style-type: none;
	    flex: content;
	    /* 向左漂移，将竖排变为横排 */
	    height: 20px;
	    text-align: left;
	    line-height: 20px;
	    text-indent: 2px;
	    font-size: 1.2rem;
	    color: #363636;
	}
	.container-article .article-list .item .desc {
		white-space: unset;
		text-overflow: ellipsis;
		flex:0 0 20px;
		height:20px;
		line-height: 20px;
		width: auto;
		overflow: hidden;
		/* box-sizing: border-box; */
		padding-left: 2px;
	}
	/*******************下面是新闻杂谈的最新六个的响应式样式************************/
	.latest-new-article section{
		border: 1px solid #dadada;
		height:120px;
		margin-bottom:15px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	}
	.latest-new-article .index-newtalk-list{
	    width: auto;
	    height:118px;
	    display: flex;
	    overflow: hidden;
	    margin:0;
	}
	.latest-new-article .index-newtalk-list:hover a{
		color:rgb(138, 179, 202);
		cursor:default;
	}
	.latest-new-article .index-newtalk-list > a{
	    flex:0 0 158px;
	    height:118px;
	}
	.latest-new-article .index-newtalk-list > a i{
	    width:auto;
	    height:100px;
	    display:flex;
	    overflow:hidden;
		position:relative;
		text-align:center;
		cursor:default;
		margin:9px;
	}
	.latest-new-article .index-newtalk-list > a:hover img {
		-ms-transform:scale(1.2);
		-webkit-transform:scale(1.2);
		-o-transform:scale(1.2);
		-moz-transform:scale(1.2);
		transform:scale(1.2);
	}
	.latest-new-article .index-newtalk-list img{
	    width:100%;
	    height:100px;
	    overflow: hidden;
	    background-size: cover;
	    background-position: center center;
	    object-fit: cover;
	    position:relative;
		-webkit-transition:all .4s linear;
		transition:all .4s linear;
	}
	.latest-new-article .index-newtalk-list > div{
		display:flex;
		flex-direction: column;
		flex:1 1 auto;
		padding:9px;
	}
	.latest-new-article .index-newtalk-list > div h3{
		padding:0;
		flex: auto;
		height:60px;
		line-height: 30px;
		white-space:normal;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 16px;
		margin:0;
	}
	.latest-new-article .index-newtalk-list > div h3 a{
		text-decoration: none;
	}
	.latest-new-article .index-newtalk-list > div p.publish-time{
		padding:0;
		flex: auto;
		height:20px;
		line-height:20px;
		white-space:normal;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1em;
		margin:0;
	}
	.latest-new-article .index-newtalk-list > div > p{
		padding:0;
		flex: auto;
		height:20px;
		line-height:20px;
		white-space:normal;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1em;
		margin:0;
	}
}
@media screen and (max-width: 440px){
	.maike_slider {
    width: auto;
    height: 180px;
    position: relative;
    overflow: hidden;
    background: #fff;
    text-align: center;
    margin: 15px auto;
	}
	.maike_slider .bd li img {
    /* display: block; */
    width: 800px;
    height: 180px;
    margin: 0 auto;
    object-position:center;
    object-fit:cover;
	}
	/* .container-article .article-list .item .left-art-img{
	float: left;
	width:30%;
	}
	.container-article .article-list .item .right-art-abstract{
		float: left;
		width:70%;
	} */
}
@media screen and (max-width: 400px){
	.maike_slider {
    width: auto;
    height: 150px;
    position: relative;
    overflow: hidden;
    background: #fff;
    text-align: center;
    margin: 15px auto;
	}
	.maike_slider .bd li img {
    /* display: block; */
    width: 800px;
    height: 150px;
    margin: 0 auto;
    object-position:center;
    object-fit:cover;
	}
	.container-article .article-list .item .art-img {
    float: left;
    width: auto;
    height:auto;
    overflow: hidden;
    margin:5px;
	}
	.container-article .article-list .item .art-img img {
    width: 70px;
    margin: 0 auto;
    /* margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
    height: 70px;
    /* max-height:100%; */
    background-size: cover;
    background-position: center center;
    object-fit: cover;
	}
	.container-article .article-list .item .desc {
    	display: none;
	}
	.container-article .article-list .item .art-item{
		display: flex;
		flex-direction: row;
	}
	.container-article .article-list .item .left-art-img{
		/* width:30%;
		flex: 0 0 30%; *//*不放大 不缩小 固定宽度94px*/
		width:80px;
		flex: 0 0 80px;
	}
	.container-article .article-list .item .right-art-abstract{
		/* float:left; */
		flex: 1 1 auto; /*可放大 可缩小*/
	}
	.container-article .article-list .item .art-abstract-flex{
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 10px;
	}
	.container-article .article-list .item .title {
		width:100%;
	    font-size: 1.1em;
	    flex:0 0 30px;
	    height:30px;
	    line-height:30px;
	    font-weight:bold;
	    text-indent:2px;
	    color: #7a7a7a;
	    overflow:hidden;
	    white-space: nowrap;
		text-overflow:ellipsis;
	}
	
	/* 在平时的Web开发过程中、默认的情况下、行末的长单词会撑开容器、不是我们想要的、我们想要的应该是不能撑开容器、
	而且完整的单词不能被强制拆开、如果行末是长单词的话、整个单词都被换行到下一行、就像word一样、能够自动换行、
	既不撑大容器、也不强制拆开行末单词、并且不会隐藏行末单词的多余字母、本文将给你条案、先看一下如下CSS代码
	1、word-break:break-all;只对英文起作用、以字母作为换行依据
	2、word-wrap:break-word; 只对英文起作用、以单词作为换行依据
	3、white-space:pre-wrap; 只对中文起作用、强制换行
	4、white-space:nowrap; 强制不换行、都起作用
	5、white-space:nowrap; overflow:hidden; text-overflow:ellipsis;不换行、超出部分隐藏且以省略号形式出现 */
	.container-article .article-list .item .title a{
		width:100%;
		overflow:hidden;
	    white-space: nowrap;
		text-overflow:ellipsis;
		/* word-break:break-all; */
	}
	
	.container-article .article-list .item .base-info {
	    width: 100%;
	    flex:0 0 30px;
	    height: 30px;
	    line-height: 30px;
	    align-items:center;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	/* .container-article .article-list .item .base-info ul {
	    display: inline-flex;
	    flex-direction: row;
	    width: 100%;
	    height: 20px;
	    line-height: 20px;
	    margin:0;
	    padding:0;
	}
	
	.container-article .article-list .item .base-info ul li {
	    list-style-type: none;
	    flex: content;
	    向左漂移，将竖排变为横排
	    height: 20px;
	    text-align: left;
	    line-height: 20px;
	    text-indent: 10px;
	    font-size: 1.2rem;
	    color: #363636;
	} */
	/*******************下面是新闻杂谈的最新六个的响应式样式************************/
	.latest-new-article section{
		border: 1px solid #dadada;
		height:82px;
		margin-bottom:15px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	}
	.latest-new-article .index-newtalk-list{
	    width: auto;
	    height:80px;
	    display: flex;
	    overflow: hidden;
	    margin:0;
	}
	.latest-new-article .index-newtalk-list:hover a{
		color:#000000;
		cursor:default;
	}
	.latest-new-article .index-newtalk-list a:hover{
		color:rgb(138, 179, 202);
		cursor:default;
	}
	/*******图片的a标签的样式**********/
	.latest-new-article .index-newtalk-list > a{
	    flex:0 0 80px;
	    height:80px;
	}
	.latest-new-article .index-newtalk-list > a i{
	    width:auto;
	    height:70px;
	    display:flex;
	    overflow:hidden;
		position:relative;
		text-align:center;
		cursor:default;
		margin:5px;
	}
	.latest-new-article .index-newtalk-list > a:hover img {
		-ms-transform:scale(1.2);
		-webkit-transform:scale(1.2);
		-o-transform:scale(1.2);
		-moz-transform:scale(1.2);
		transform:scale(1.2);
	}
	.latest-new-article .index-newtalk-list img{
	    width:100%;
	    height:70px;
	    overflow: hidden;
	    background-size: cover;
	    background-position: center center;
	    object-fit: cover;
	    position:relative;
		-webkit-transition:all .4s linear;
		transition:all .4s linear;
	}
	/***********图片右侧的文章摘要的样式************/
	.latest-new-article .index-newtalk-list > div{
		flex: auto;
	    height: auto;
	    display: flex;
	    flex-direction: column;
	    padding: 9px;
	}
	.latest-new-article .index-newtalk-list > div h3{
		padding:0;
		width:100%;
		flex: 0 0 30px;
		height:30px;
		line-height: 30px;
		white-space:nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		ffont-size: 1.1em;
		font-weight:bold;
		margin:0;
	}
	.latest-new-article .index-newtalk-list > div h3 > a{
		width:100%;
	    overflow: hidden;
	    white-space: normal;
	    text-overflow: ellipsis;
	}
	.latest-new-article .index-newtalk-list > div p.publish-time{
		padding:0;
		width:100%;
		flex: auto;
		height:30px;
		flex: 0 0 30px;
		line-height:30px;
		white-space:nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1.2rem;
		margin:0;
		display:block;
	}
	.latest-new-article .index-newtalk-list > div > p{
		/* padding:0;
		flex: auto;
		height:20px;
		line-height:20px;
		white-space:normal;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1em;
		margin:0; */
		display:none;
	}
}